<!DOCTYPE html>
<html>
<head>
    <title>Confirm Your Email</title>
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Thank you for signing up at {{ current_site.name }}!</p>
    <p>
        To confirm your email address and activate your account, click the link below:
    </p>
    <p>
        <a href="{{ activate_url }}" target="_blank">Confirm Your Email</a>
    </p>
    <p>
        If you didn’t make this request, please ignore this email.
    </p>
    <p>Thanks,<br>The {{ current_site.name }} Team</p>
</body>
</html>
